<div class="container">
        <div class="convert">
                HERE CONVERTING START
        </div>
        <div class="stats">
                <div class="cpuChart" id="cpu">
                        <div class="chartLineCPU" >
                                <div class="cpuInside" id="cpuPercent">
                                        12%
                                </div>
                        </div>
                </div>
                <div class="memoryChart" id="memory">
                        <div class="chartLineMemory">
                                <div class="memInside" id="memPercent">
                                        12%
                                </div>
                        </div>
                </div>
        </div>
</div>
<textarea class="console" readonly>
> sfdsdf
> sdfsdfdffff
> jeden
> dwa
</textarea>