.parser-container {
  width: 100%;
  height: calc(100% - 150px);
  background-color: #44447a;
}
.parser-container .convert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.parser-container .convert .loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(14, 12, 12, 0.8);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parser-container .convert .loader-container .loader path {
  fill: #ff6700;
}
.parser-container .convert .loader-container .loader rect {
  fill: #ff6700;
}
.parser-container .convert .left-stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.parser-container .convert .left-stats .cpuChart {
  height: 100px;
  width: 100px;
  position: relative;
  transition: 1s ease-in;
  background: conic-gradient(#00a0f7 0%, #00a0f7 30%, #44447a 0%, #44447a 100%);
  border-radius: 100%;
  margin: 10px;
}
.parser-container .convert .left-stats .cpuChart .chartLineCPU {
  height: 80px;
  width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  transition: all 0.2s;
}
.parser-container .convert .left-stats .cpuChart .chartLineCPU .cpuInside {
  position: absolute;
  display: flex;
  font-size: 30px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  height: 100%;
  background-color: #2d2e59;
  border-radius: 100%;
  color: #00a0f7;
  transition: all 0.5s;
}
.parser-container .convert .left-stats .cpuChart .chartLineCPU .cpuInside::after {
  content: "CPU";
  font-size: 10px;
  position: absolute;
  color: white;
  transform: translateY(-22px);
}
.parser-container .convert .left-stats .memoryChart {
  height: 100px;
  width: 100px;
  position: relative;
  transition: 1s ease-in;
  background: conic-gradient(#ff006e 0%, #ff006e 30%, #44447a 0%, #44447a 100%);
  border-radius: 100%;
  margin: 10px;
}
.parser-container .convert .left-stats .memoryChart .chartLineMemory {
  height: 80px;
  width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  transition: all 0.2s;
}
.parser-container .convert .left-stats .memoryChart .chartLineMemory .memInside {
  position: absolute;
  display: flex;
  font-size: 30px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  height: 100%;
  background-color: #2d2e59;
  border-radius: 100%;
  color: #ff006e;
  transition: all 0.5s;
}
.parser-container .convert .left-stats .memoryChart .chartLineMemory .memInside::after {
  content: "RAM";
  font-size: 10px;
  position: absolute;
  color: white;
  transform: translateY(-22px);
}
.parser-container .convert .right-stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.parser-container .convert .right-stats .diskChart {
  height: 100px;
  width: 100px;
  position: relative;
  transition: 1s ease-in;
  background: conic-gradient(#c0e006 0%, #c0e006 30%, #44447a 0%, #44447a 100%);
  border-radius: 100%;
  margin: 10px;
}
.parser-container .convert .right-stats .diskChart .chartLineDisk {
  height: 80px;
  width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  transition: all 0.2s;
}
.parser-container .convert .right-stats .diskChart .chartLineDisk .diskInside {
  position: absolute;
  display: flex;
  font-size: 30px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  height: 100%;
  background-color: #2d2e59;
  border-radius: 100%;
  color: #c0e006;
  transition: all 0.5s;
}
.parser-container .convert .right-stats .diskChart .chartLineDisk .diskInside::after {
  content: "DISK 1";
  font-size: 10px;
  position: absolute;
  color: white;
  transform: translateY(-22px);
}
.parser-container .convert .right-stats .disk2Chart {
  height: 100px;
  width: 100px;
  position: relative;
  transition: 1s ease-in;
  background: conic-gradient(#c0e006 0%, #c0e006 30%, #44447a 0%, #44447a 100%);
  border-radius: 100%;
  margin: 10px;
}
.parser-container .convert .right-stats .disk2Chart .chartLineDisk2 {
  height: 80px;
  width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  transition: all 0.2s;
}
.parser-container .convert .right-stats .disk2Chart .chartLineDisk2 .disk2Inside {
  position: absolute;
  display: flex;
  font-size: 30px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  height: 100%;
  background-color: #2d2e59;
  border-radius: 100%;
  color: #c0e006;
  transition: all 0.5s;
}
.parser-container .convert .right-stats .disk2Chart .chartLineDisk2 .disk2Inside::after {
  content: "DISK 2";
  font-size: 10px;
  position: absolute;
  color: white;
  transform: translateY(-22px);
}
.parser-container .convert .right-stats .parsedChart {
  height: 100px;
  width: 100px;
  position: relative;
  transition: 1s ease-in;
  background: conic-gradient(#00f7c2 0%, #00f7c2 30%, #44447a 0%, #44447a 100%);
  border-radius: 100%;
  margin: 10px;
}
.parser-container .convert .right-stats .parsedChart .chartLineParsed {
  height: 80px;
  width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  transition: all 0.2s;
}
.parser-container .convert .right-stats .parsedChart .chartLineParsed .parsedInside {
  position: absolute;
  display: flex;
  font-size: 30px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  height: 100%;
  background-color: #2d2e59;
  border-radius: 100%;
  color: #00f7c2;
  transition: all 0.5s;
}
.parser-container .convert .right-stats .parsedChart .chartLineParsed .parsedInside::after {
  content: "converted";
  font-size: 10px;
  position: absolute;
  color: white;
  transform: translateY(-22px);
}
.parser-container .main {
  display: flex;
  flex-direction: column;
  width: 190px;
  gap: 0.5em;
}
.parser-container .main .card {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.parser-container .main .tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  position: absolute;
  visibility: hidden;
  width: 150px;
  height: 50px;
}
.parser-container .main .tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.parser-container .main .fadeIn {
  visibility: visible;
  opacity: 0;
  -webkit-animation: fadeIn 0.3s linear forwards;
          animation: fadeIn 0.3s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.parser-container .main .fadeOut {
  visibility: visible;
  opacity: 1;
  -webkit-animation: fadeOut 0.3s linear forwards;
          animation: fadeOut 0.3s linear forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.parser-container .main .up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.parser-container .main .up .card1 {
  border-radius: 90px 5px 5px 5px;
}
.parser-container .main .up .card1:hover, .parser-container .main .up .card1:focus {
  cursor: pointer;
  scale: 1.1;
  background-color: #ff5722;
}
.parser-container .main .up .card1:hover .protect, .parser-container .main .up .card1:focus .protect {
  fill: white;
}
.parser-container .main .up .card1 .tooltip1 {
  background-color: #ff5722;
  top: -50px;
  left: -110px;
}
.parser-container .main .up .card1 .tooltip1::after {
  bottom: -18px;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #ff5722;
}
.parser-container .main .up .card1 .protect {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #ff5722;
}
.parser-container .main .up .card2 {
  border-radius: 5px 90px 5px 5px;
}
.parser-container .main .up .card2:hover, .parser-container .main .up .card2:focus {
  cursor: pointer;
  scale: 1.1;
  background-color: #4caf50;
}
.parser-container .main .up .card2:hover .sync, .parser-container .main .up .card2:focus .sync {
  fill: white;
}
.parser-container .main .up .card2 .tooltip2 {
  background-color: #4caf50;
  top: -50px;
  right: -110px;
}
.parser-container .main .up .card2 .tooltip2::after {
  bottom: -18px;
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #4caf50;
}
.parser-container .main .up .card2 .sync {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #4caf50;
}
.parser-container .main .down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.parser-container .main .down .card3 {
  border-radius: 5px 5px 5px 90px;
}
.parser-container .main .down .card3:hover, .parser-container .main .down .card3:focus {
  cursor: pointer;
  scale: 1.1;
  background-color: #f44336;
}
.parser-container .main .down .card3:hover .delete, .parser-container .main .down .card3:focus .delete {
  fill: white;
}
.parser-container .main .down .card3 .tooltip3 {
  background-color: #f44336;
  bottom: -50px;
  left: -110px;
}
.parser-container .main .down .card3 .tooltip3::after {
  top: -18px;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #f44336;
  transform: rotate(180deg);
}
.parser-container .main .down .card3 .delete {
  margin-top: -0.6em;
  margin-left: 1.2em;
  fill: #f44336;
}
.parser-container .main .down .card4 {
  border-radius: 5px 5px 90px 5px;
}
.parser-container .main .down .card4:hover, .parser-container .main .down .card4:focus {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}
.parser-container .main .down .card4:hover .settings, .parser-container .main .down .card4:focus .settings {
  fill: white;
}
.parser-container .main .down .card4 .tooltip4 {
  background-color: #03a9f4;
  bottom: -50px;
  right: -110px;
}
.parser-container .main .down .card4 .tooltip4::after {
  top: -18px;
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #03a9f4;
  transform: rotate(180deg);
}
.parser-container .main .down .card4 .settings {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #03a9f4;
}

.console {
  width: 100%;
  height: 150px;
  resize: none;
  background-color: black;
  color: rgb(233, 165, 75);
  font-family: "Courier New", monospace;
  font-size: 14px;
  padding: 20px;
  border: none;
  white-space: pre;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  overflow: auto;
  word-break: break-all;
}
.console:focus {
  outline: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}/*# sourceMappingURL=parser.css.map */