.container {
	width: 100%;
	height: calc(100% - 150px);
	display: flex;
	background-color: #1f1f1f;
}
.console {
	width: 100%;
	height: 150px;
	resize: none;
	background-color: black;
	color: antiquewhite;
	font-family: "Courier New", monospace;
	font-size: 14px;
	padding: 10px;
	border: none;
	overflow-y: auto;
}
.console:focus {
	outline: none;
}

.stats {
        height: 100%;
        width: 100%;
}

.cpuChart{
        height: 100px;
        width: 100px;
        transition: 1s ease-in;
        background: conic-gradient(#0C47A1 0%, #0C47A1 20%, gray 0%, gray 100%);
        border-radius: 100%;
}
.chartLineCPU{
        height: calc(100px - 20px);
        width: calc(100px - 20px);
        position: relative;
        display: flex;
        justify-content: center;
        top: calc(20px / 2);
        left: 10px;
        border-radius: 100%;
        background-color: #1f1f1f;
        transition: all .2s;
}
.memoryChart{
        height: 100px;
        width: 100px;
        background: conic-gradient(#0C47A1 0%, #647286 30%, gray 0%, gray 100%);
        border-radius: 100%;
        transition: all .5s;
}
.chartLineMemory{
        content: 'asdasd';
        height: calc(100px - 20px);
        width: calc(100px - 20px);
        position: relative;
        display: flex;
        justify-content: center;
        top: calc(20px / 2);
        left: 10px;
        border-radius: 100%;
        background-color: #1f1f1f;
        transition: all .2s;
}