<div class="container">
        <div class="convert">
                HERE CONVERTING START
        </div>
        <div class="stats">
                <div class="loader-container" id="loader">
                        <svg class="loader" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px"
                                viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <rect x="0" y="13" width="4" height="5" fill="#333">
                                        <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s"
                                                dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s"
                                                dur="0.6s" repeatCount="indefinite" />
                                </rect>
                                <rect x="10" y="13" width="4" height="5" fill="#333">
                                        <animate attributeName="height" attributeType="XML" values="5;21;5"
                                                begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s"
                                                dur="0.6s" repeatCount="indefinite" />
                                </rect>
                                <rect x="20" y="13" width="4" height="5" fill="#333">
                                        <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s"
                                                dur="0.6s" repeatCount="indefinite" />
                                        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s"
                                                dur="0.6s" repeatCount="indefinite" />
                                </rect>
                        </svg>
                </div>
                <div class="cpuChart" id="cpu">
                        <div class="chartLineCPU">
                                <div class="cpuInside" id="cpuPercent">
                                        10%
                                </div>
                        </div>
                </div>
                <div class="memoryChart" id="memory">
                        <div class="chartLineMemory">
                                <div class="memInside" id="memPercent">
                                        11%
                                </div>
                        </div>
                </div>
                <div class="diskChart" id="disk1">
                        <div class="chartLineDisk">
                                <div class="diskInside" id="disk1Percent">
                                        12%
                                </div>
                        </div>
                </div>
                <div class="disk2Chart" id="disk2">
                        <div class="chartLineDisk2">
                                <div class="disk2Inside" id="disk2Percent">
                                        13%
                                </div>
                        </div>
                </div>
                <div class="parsedChart" id="parsed">
                        <div class="chartLineParsed">
                                <div class="parsedInside" id="parsedPercent">
                                        14%
                                </div>
                        </div>
                </div>
        </div>
</div>
<textarea class="console" readonly>
> sfdsdf
> sdfsdfdffff
> jeden
> dwa
</textarea>