<div class="bg-wrapper">
	<div class="config">
		<div class="form" id="tsparticles">
			<div class="inputWrapper">
				<input class="input" type="text" placeholder="Select the folder where the blk*.dat files are located." disabled>
				<button id="chooseBlkFiles" class="fileBtn"></button>
			</div>
			
			<div class="inputWrapper">
				<input class="input" type="text" placeholder="Choose the folder where the converted .json files will be stored." disabled>
				<button id="chooseParsedBlkFiles" class="fileBtn"></button>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-section">
			<span>about</span>: ({
				<br>
				<span class="spacer"></span><span class="json-key">version</span>:<span class="json-value"> 0.0.1 - BETA</span>,<br>
				<span class="spacer"></span><span class="json-key">name:</span><span class="json-value"> BTC parser</span>,<br>
				<span class="spacer"></span><span class="json-key">convert:</span> <span class="json-value">blk*.dat -> blk*.json</span><br>
			});
			<br>
		</div>
		<div class="footer-section">
			<span>PC requirements</span>: ({
				<br>
				<span class="spacer"></span><span class="json-key">CPU</span>:<span class="json-value"> 4 cores CPU &uarr;</span>,<br>
				<span class="spacer"></span><span class="json-key">node</span>:<span class="json-value"> Running BTC node</span>,<br>
				<span class="spacer"></span><span class="json-key">disk</span>:<span class="json-value"> 1TB free disk space &uarr;</span>,<br>
				<span class="spacer"></span><span class="json-key">RAM</span>:<span class="json-value"> 8GB &uarr;</span><br>
			});
			<br>
		</div>
		<div class="footer-section">
			<span>author</span>: ({
				<br>
				<span class="spacer"></span><span class="json-key">author</span>:<span class="json-value"> Wojciech Marek</span>,<br>
				<span class="spacer"></span><span class="json-key">GIT</span>:<span class="json-value">  <a class="footerLink" href="https://github.com/wojciechhicu" target="_blank" rel="noopener noreferrer">GIT link</a></span>,<br>
				<span class="spacer"></span><span class="json-key">project</span>:<span class="json-value"> Create easy to use parser</span><br>
			});
			<br>
		</div>
		<div class="footer-section">
			<span>Technologys</span>: ({
				<br>
				<span class="spacer"></span><span class="json-key">Renderer</span>:<span class="json-value"> HTML, CSS, JS/TS</span>,<br>
				<span class="spacer"></span><span class="json-key">Backend</span>:<span class="json-value"> Electron</span><br>
			})
			<br>
		</div>
	</div>
</div>